AI DAILY DIGEST.json
{
  "name": "AI DAILY DIGEST",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1266dd20-2070-4076-be4f-8a73bff8d2cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "8975e336-5e4e-497d-9b93-6762dff8af72",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "2677408f-b3bf-4eb6-84b9-a65768e992be",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        16
      ],
      "id": "c362778a-b32f-4f6e-a0d3-87c4ec6cb103",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1072,
        16
      ],
      "id": "a3258284-5d26-421c-a256-6018af6d4696",
      "name": "Limit"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        192
      ],
      "id": "fd715347-3a47-4f55-8a6c-21e95776199e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iiYPAVYcrSjvA9Ta",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following news article into 5 bullet points:\n\nTitle: {{$json[\"title\"]}}\nDescription: {{$json[\"contentSnippet\"]}}\n\nKeep it short and clear.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1264,
        0
      ],
      "id": "e78da5e3-bf4f-4862-bfdf-55884348a31d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "sudhanshudas717@gmail.com",
        "subject": "AI Daily Digest – Top News Summary",
        "message": "=<h2>🧠 AI Daily Digest</h2>  {{$json[\"text\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1616,
        0
      ],
      "id": "8fd37598-a8ad-4804-b3cf-c5d458bbe150",
      "name": "Send a message",
      "webhookId": "383e65ed-448a-41c6-b995-8bcb59bd3ee8",
      "credentials": {
        "gmailOAuth2": {
          "id": "YFDtX9NCjeYJSsAz",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6e94068a-540f-4385-8313-b991a05545d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cdc928902dc302fd842ef5e96d23f737f6d3e531633afea6a0afc3dcd54d2b2"
  },
  "id": "gqQVC9aUKaLqEeJ6",
  "tags": []
}